<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer src="/javascripts/index.js"></script>
  </head>
  <body>
    <%- include('partials/header') %>
    <div>
      <h1><%= title %></h1>
      <% if (!user) { %>
      <p>Bem vindo ao app de sincronização com o Google Drive.</p>
      <% } else { %>
        <button id="btn download" onclick="downloadPage()">Baixar esses arquivos</button>
        <%- include('partials/drive')%>
        <%} %>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
